<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.health_main">

    <application>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".activity.DiseaseActivity" />
        <activity android:name=".activity.DiseaseKnowledgeActivity" />
        <activity android:name=".activity.DrugsKnowledgeActivity" />
        <activity android:name=".activity.Consultation_DetailsActivity"></activity>
    </application>

</manifest>